{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
<title>{{title}}</title>
<meta name="og:title" property="og:title" content='{{description}}'>
{% endblock title %}

{% block description %}
<meta name="og:description" property="og:description" content='{{description}}'>
<meta name="description" content='{{description}}'>
{% endblock description %}

{% block active_home %}class="active"{% endblock active_home %}


{% block content %}

<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">
    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12 mt-3">
                    <h1><strong class="text-headers">{{HeaderName}}</strong></h1>
                    <form class="input-group" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <label class="custom-file-label justify-content-center text-center mx-auto" for="inputGroupFile01">{% trans "Choose file" %}</label>
                        {{ form }}

            
                    </form>

                    <p class="file-status"></p>
                    <a href="" class="upload-button main-button-slider">{% trans "Click to upload" %}</a>

                    
                    <progress class="progress-bar " role="progressbar" style="width: 100%; display: none;" aria-valuemin="0" aria-valuemax="100" ></progress>


                </div>
            </div>
        </div>
    </div>
</div>

{% include './main_content.html' %}
{% endblock content %}

